#blogs{
    margin-top: 4rem;
}
.blog-cards{
    display: flex;
    margin: 5rem 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first-card {
    background: url(../img/hand-tracking-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    height: 35rem;
    width: 400px;
    padding: 33px;
    margin: 2rem;
   
}
.first-card:hover{
    background-size:120% ;
    transition: 3s;
}
.card-positions{
    position: relative;
    top: 53%;
}
.blog-name{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
}
.blog-content{
    padding: 20px 0 20px 0;
    color: white;
    text-align: justify;
}
.blog-content h4{
    color: rgb(230, 219, 219);
}
.second-card{
    background: url(../img/hand-tracking-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    height: 35rem;
    width: 400px;
    padding: 33px;
    margin: 2rem;
   
}
.second-card:hover{
    background-size:120% ;
    transition: 3s;
}
.third-card{
    background: url(../img/zombie-blog.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
    height: 35rem;
    width: 400px;
    padding: 33px;
    margin: 2rem;
}
.third-card:hover{
    background-size:120% ;
    transition: 3s;
}
@media screen and (max-width:555px) {
    .card-positions{
        top: 15%;
    }
    .blog-cards{
        margin: 1rem 0;
    }
}
